.body {
  display: grid;
  grid-template-columns: 60rem 1fr;
  min-height: 100vh;
}

.body > :first-child {
  background-color: rgb(7, 53, 202);
  /* box-shadow: 1px 0px 5px black; */
}

.body > :nth-child(2) {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  /* background-color: rgb(92, 94, 99); */
}
